@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #eeeeee;
  --color-secondary: #ffffff;
  --color-content: #000000;
}

.theme-light {
  --color-primary: #eeeeee;
  --color-secondary: #ffffff;
  --color-content: #000000;
}

.theme-dark {
  --color-primary: #000012;
  --color-secondary: #111133;
  --color-content: #ffffff;
}

#box-light {
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

#box-dark {
  box-shadow: 20px 20px 60px #0a0a0a, -20px -20px 60px #181818;
}
