@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #eeeeee;
  --color-secondary: #ffffff;
  --color-content: #000000;
}

.theme-light {
  --color-primary: #eeeeee;
  --color-secondary: #ffffff;
  --color-content: #000000;
}

.theme-dark {
  --color-primary: #222222;
  --color-secondary: #111111;
  --color-content: #ffffff;
}
